@model ErrorViewModel
@{
    Layout = null;
}

<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Bir Sorun Oluştu</title>
    <link rel="icon" href="/sidebarLogo.png" type="image/x-icon"/>
    <link rel="shortcut icon" href="/sidebarLogo.png" type="image/x-icon"/>
    <!-- CSS files -->
    <link href="/dist/css/tabler.min.css?1695847769" rel="stylesheet"/>
    <link href="/css/site.css" rel="stylesheet" />
  </head>
  <body  class=" d-flex flex-column">
    <script src="/dist/js/demo-theme.min.js?1695847769"></script>
    <div class="page page-center">
      <div class="container container-tight py-4">
        <div class="empty">
          <div class="empty-header">404</div>
            
          <p class="empty-title">Bir Hata Meydana Geldi </p>
          
          <p class="empty-subtitle text-secondary">
            @(!string.IsNullOrEmpty(Model.Message) ? Model.Message : "Oops, bir hata oluştu! Talebiniz işlenirken bir hata oluştu. Lütfen daha sonra tekrar deneyin veya sistem yöneticinize başvurun.")
          </p>
           
          <div class="empty-action">
            <a href="/" class="btn btn-pink">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M5 12l6 6" /><path d="M5 12l6 -6" /></svg>
              Devam Et
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>