@using System.Security.Claims
@using Core.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Ana Sayfa";
    var userRole = User.FindFirst(ClaimTypes.Role)?.Value;
}

<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                    Ana Sayfa
                </div>
                <h2 class="page-title">
                    Dashboard
                </h2>
            </div>

        </div>
    </div>
</div>
<div class="page-body">
<div class="container-xl">
<div class="row row-deck row-cards">
<div class="col-12">
    <div class="row row-cards">
        <div class="col-sm-6 col-lg">
            <div class="card card-sm">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <span class="bg-bitbucket text-white avatar">
                                <!-- Download SVG icon from http://tabler-icons.io/i/currency-dollar -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-users" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"/><path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"/><path d="M16 3.13a4 4 0 0 1 0 7.75"/><path d="M21 21v-2a4 4 0 0 0 -3 -3.85"/>
                                </svg>
                            </span>
                        </div>
                        <div class="col">
                            <div id="personalCount" class="font-weight-medium">

                            </div>
                            <div class="text-secondary">
                                Aktif Personel Sayısı
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg">
            <div class="card card-sm">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <span class="bg-success text-white avatar">
                                <!-- Download SVG icon from http://tabler-icons.io/i/currency-dollar -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-building-bank" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 21l18 0"/><path d="M3 10l18 0"/><path d="M5 6l7 -3l7 3"/><path d="M4 10l0 11"/><path d="M20 10l0 11"/><path d="M8 14l0 3"/><path d="M12 14l0 3"/><path d="M16 14l0 3"/>
                                </svg>
                            </span>
                        </div>
                        <div class="col">
                            <div id="branchCount" class="font-weight-medium">

                            </div>
                            <div class="text-secondary">
                                Şube Sayısı
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg">
            <div class="card card-sm">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <span class="bg-black text-white avatar">
                                <!-- Download SVG icon from http://tabler-icons.io/i/currency-dollar -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-award" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 9m-6 0a6 6 0 1 0 12 0a6 6 0 1 0 -12 0"/><path d="M12 15l3.4 5.89l1.598 -3.233l3.598 .232l-3.4 -5.889"/><path d="M6.802 12l-3.4 5.89l3.598 -.233l1.598 3.232l3.4 -5.889"/>
                                </svg>
                            </span>
                        </div>
                        <div class="col">
                            <div id="positionCount" class="font-weight-medium">

                            </div>
                            <div class="text-secondary">
                                Ünvan Sayısı
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg">
            <div class="card card-sm">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <span class="bg-google text-white avatar">
                                <!-- Download SVG icon from http://tabler-icons.io/i/currency-dollar -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-currency-lira" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 5v15a7 7 0 0 0 7 -7"/><path d="M6 15l8 -4"/><path d="M14 7l-8 4"/>
                                </svg>
                            </span>
                        </div>
                        <div class="col">
                            <div id="salarySum" class="font-weight-medium">

                            </div>
                            <div class="text-secondary">
                                Maaş Gideri
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg">
            <div class="card card-sm">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <span class="bg-cyan text-white avatar">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-fish" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M16.69 7.44a6.973 6.973 0 0 0 -1.69 4.56c0 1.747 .64 3.345 1.699 4.571"></path><path d="M2 9.504c7.715 8.647 14.75 10.265 20 2.498c-5.25 -7.761 -12.285 -6.142 -20 2.504"></path><path d="M18 11v.01"></path><path d="M11.5 10.5c-.667 1 -.667 2 0 3"></path>
                                </svg>
                            </span>
                        </div>
                        <div class="col">
                            <div id="foodAidSum" class="font-weight-medium">
                                
                            </div>
                            <div class="text-secondary">
                                Gıda Yardım Maliyeti
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    @if (userRole == UserRoleEnum.HumanResources.ToString() || userRole == UserRoleEnum.SuperAdmin.ToString())
    {
        <div class="col-lg-6">

            <div class="col-12">
                <div class="card" style="height: 24rem">

                    <div class="card-header d-flex justify-content-start">
                        <div>
                            <h4 class="card-title">Onaylanması Gereken Kümülatif Raporları</h4>
                        </div>
                    </div>
                    <div class=" card-body-scrollable card-body-scrollable-shadow">
                        <div class="d-flex justify-content-center">
                            <div id="cumulativeSpinner" class="spinner-border text-blue m-5" role="status"></div>
                            <div id="cumulativeEmptyText" class="d-none text-secondary m-5">Herhangi onaylanması gereken kümülatif rapor bulunmamaktadır.</div>
                        </div>
                        <div class="divide-y">

                            <div id="cumulativeList" class="list-group list-group-flush list-group-hoverable">

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>  
        <div class="col-lg-6">

            <div class="col-12">
                <div class="card" style="height: 24rem">

                    <div class="card-header d-flex justify-content-start">
                        <div>
                            <h4 class="card-title">Eksik Gün Yaklaşan Raporlar (İstirahat 01)</h4>
                        </div>
                    </div>
                    <div class=" card-body-scrollable card-body-scrollable-shadow">
                        <div class="d-flex justify-content-center">
                            <div id="missingDaySpinner" class="spinner-border text-blue m-5" role="status"></div>
                            <div id="missingDayEmptyText" class="d-none text-secondary m-5">Herhangi bir yaklaşan rapor bulunmamaktadır.</div>
                        </div>
                        <div class="divide-y">

                            <div id="missingDayList" class="list-group list-group-flush list-group-hoverable">

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    


<div class="col-lg-6">

    <div class="col-12">
        <div class="card" style="height: 24rem">

            <div class="card-header d-flex justify-content-start">
                <div>
                    <h4 class="card-title">Bekleyen İzinler</h4>
                </div>
            </div>
            <div class=" card-body-scrollable card-body-scrollable-shadow">
                <div class="d-flex justify-content-center">
                    <div id="waitingOffDaySpinner" class="spinner-border text-blue m-5" role="status"></div>
                    <div id="waitingOffDayEmptyText" class="d-none text-secondary m-5">Herhangi bir bekleyen izin bulunmamaktadır.</div>
                </div>
                <div class="divide-y">

                    <div id="waitingOffDayList" class="list-group list-group-flush list-group-hoverable">

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
    <div class="col-lg-6">

        <div class="col-12">
            <div class="card" style="height: 24rem">

                <div class="card-header d-flex justify-content-start">
                    <div>
                        <h4 class="card-title">Yaklaşan Onaylanan İzinler</h4>
                    </div>
                </div>
                <div class=" card-body-scrollable card-body-scrollable-shadow">
                    <div class="d-flex justify-content-center">
                        <div id="approvedOffDaySpinner" class="spinner-border text-blue m-5" role="status"></div>
                        <div id="approvedOffDayEmptyText" class="d-none text-secondary m-5">Herhangi bir yaklaşan izin bulunmamaktadır.</div>
                    </div>
                    <div class="divide-y">

                        <div id="approvedOffDayList" class="list-group list-group-flush list-group-hoverable">

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="col-lg-6">

    <div class="col-12">
        <div class="card" style="height: 24rem">

            <div class="card-header d-flex justify-content-start">
                <div>
                    <h4 class="card-title">Yaklaşan Doğum Günleri</h4>
                </div>
            </div>
            <div class=" card-body-scrollable card-body-scrollable-shadow">
                <div class="d-flex justify-content-center">
                    <div id="birthListSpinner" class="spinner-border text-blue m-5" role="status"></div>
                    <div id="birthListEmptyText" class="d-none text-secondary m-5">Herhangi bir yaklaşan doğum günü bulunmamaktadır.</div>
                </div>
                <div class="divide-y">

                    <div id="birthList" class="list-group list-group-flush list-group-hoverable">

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="col-12">
        <div class="card" style="height: 24rem">
            <div class="card-header d-flex justify-content-between">
                <div>
                    <h4 id="workPowerTitle" class="card-title"></h4>
                </div>
                <div class="dropdown filter-dropdown">
                    <button class="btn btn-outline-secondary btn-icon" data-bs-toggle="dropdown" data-bs-auto-close="outside">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-filter-down" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 20l-3 1v-8.5l-4.48 -4.928a2 2 0 0 1 -.52 -1.345v-2.227h16v2.172a2 2 0 0 1 -.586 1.414l-4.414 4.414v3"></path>
                            <path d="M19 16v6"></path>
                            <path d="M22 19l-3 3l-3 -3"></path>
                        </svg>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end ">
                        <div class="dropdown-header" style="width: 350px;">Detaylı Filtre</div>
                        <div class="p-4">
                            <div class="row mb-2">
                                <div class="col-12">
                                    <label class="form-label">Yıl Seçiniz</label>
                                    <select name="filterYear" class="form-select selectListTom">
                                        <option value="">Yıl Seçiniz.</option>
                                        @for (var year = 2017; year <= 2050; year++)
                                        {
                                            <option value="@year">@year</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-12">
                                    <label class="form-label">Şube Seçiniz</label>
                                    <select name="filterBranch" multiple class="form-select" placeholder="Şube Seçiniz">
                                    </select>
                                </div>
                            </div>

                            <div class="d-flex justify-content-end">
                                <button id="yearButton" class="btn btn-outline-primary" type="button">Filtrele</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" card-body-scrollable card-body-scrollable-shadow">
                <div class="divide-y">
                    <div class="table-responsive">
                        <table class="table table-vcenter card-table table-bordered">
                            <thead>
                            <tr>
                                <th>Ay</th>
                                <th>Ay Başı<br/>Çalışanlar</th>
                                <th>Ay İçinde<br/>İşe Alınanlar</th>
                                <th>Ay İçinde<br/>İşten Ayrılanlar</th>
                                <th>Ay Sonu<br/>İtibariyle <br/> Çalışanlar</th>

                            </tr>
                            </thead>

                            <tbody id="tableBody">
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-center">
                            <div id="workTableSpinner" class="spinner-border text-blue m-5" role="status"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-6">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <div id="genderGraphSpinner" class="spinner-border text-blue m-5" role="status"></div>
            </div>
            <div id="genderGraph">

            </div>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <div id="educationGraphSpinner" class="spinner-border text-blue m-5" role="status"></div>
            </div>
            <div id="educationGraph">

            </div>
        </div>
    </div>
</div>

</div>
</div>
</div>

@section Scripts
{
    <script src="/js/custom/dashboard/dashboard.js"></script>
    @if (userRole == UserRoleEnum.HumanResources.ToString() || userRole == UserRoleEnum.SuperAdmin.ToString())
    {
        <script>
            const missDayList = document.getElementById('missingDayList')
            const cumulativeList = document.getElementById('cumulativeList')
            let today = new Date();
            let controlDate = new Date().toISOString().split('T')[0];
            //Eksik Gün istirahat ajax metodu
            $.ajax({
                type:"GET",
                url: `/query/eksik-gun-dashboard?$expand=Personal($select=NameSurname,Status;)&$select=id,EndOffDayDate,Personal,EndOffDayDate,Reason&$filter=Personal/Status eq 'Online'and Reason eq 'İstirahat (01)' and EndOffDayDate ge ${controlDate}&$orderby=EndOffDayDate asc`,
            }).done(function (res) {
                $('#missingDaySpinner').hide();
                if (res.length > 0) {
                    res.forEach(data => {
                        let raporTarihi = new Date(data.EndOffDayDate)
                        let kalanGunSayisi = Math.ceil((raporTarihi - today) / (1000 * 60 * 60 * 24));
                        if (kalanGunSayisi <= 5 && kalanGunSayisi >= 0) {
                            let remainingText = (raporTarihi.getDate() - today.getDate() === 0) ? "Bugün" :
                                (raporTarihi.getDate() - today.getDate() === 1) ? "Yarın" :
                                    `${kalanGunSayisi} Gün Sonra`;
                            let listItem = document.createElement('div');
                            listItem.className = 'list-group-item';
                            let row = document.createElement('div');
                            row.className = 'row';
                            let avatarCol = document.createElement('div');
                            avatarCol.className = 'col-auto';
                            avatarCol.innerHTML = `<span class="avatar">${data.Personal.NameSurname.charAt(0)}</span>`;
                            let infoCol = document.createElement('div');
                            infoCol.className = 'col';
                            infoCol.innerHTML = `
                <div class="text-truncate">
                    <strong>${data.Personal.NameSurname}</strong> adlı personele ait rapor tarihi yaklaşıyor.
                </div>
                <div class="text-secondary">Rapor Bitiş Tarihi: ${new Date(data.EndOffDayDate).toLocaleDateString('tr-TR', { day: 'numeric', month: 'long' })} - ${remainingText}</div>
            `;

                            row.appendChild(avatarCol);
                            row.appendChild(infoCol);
                            if (raporTarihi.getDate() - today.getDate() === 0) {
                                let badgeCol = document.createElement('div');
                                badgeCol.className = 'col-auto align-self-center';
                                badgeCol.innerHTML = '<div class="badge bg-success"></div>';
                                row.appendChild(badgeCol);
                                listItem.className += " active";
                                listItem.style.borderLeftColor = "rgb(47, 179, 68)"
                            }
                            listItem.appendChild(row);
                            missDayList.appendChild(listItem);
                        }

                    })
                }
                else {
                    $('#missingDayEmptyText').removeClass('d-none');
                }
            });
            //Kumulatif Rapor Metodları
            $.ajax({
                type:"GET",
                url: "/query/kumulatif-bildirim-dashboard?$expand=Personal($select=NameSurname;)&$select=id,Year,Personal,IsReportCompleted,IsNotificationExist,Personal_Id&$filter=Personal/Status eq 'Online'and IsNotificationExist eq true&$orderby=Year asc",
            }).done(function (res) {
                $('#cumulativeSpinner').hide();
                if (res.length > 0){
                    
                    res.forEach(data=> {

                        let listItem = document.createElement('div');
                        listItem.className = 'list-group-item';
                        let row = document.createElement('div');
                        row.className = 'row';
                        let avatarCol = document.createElement('div');
                        avatarCol.className = 'col-auto';
                        avatarCol.innerHTML = `<span class="avatar">${data.Personal.NameSurname.charAt(0)}</span>`;
                        let infoCol = document.createElement('div');
                        infoCol.className = 'col';
                        infoCol.innerHTML = `
                <div class="text-truncate">
                    <strong><a href="/personel-detaylari?id=${data.Personal_Id}">${data.Personal.NameSurname}</a></strong> adlı personele ait kümülatif rapor.
                </div>
                <div class="text-secondary">Kümülatif Yılı: ${data.Year} - İmzalandı Mı?: ${data.IsReportCompleted ? "İmzalandı" : "İmza Bekliyor"}</div>
            `;

                        row.appendChild(avatarCol);
                        row.appendChild(infoCol);
                        if (data.IsReportCompleted) {
                            let buttonCol = document.createElement('div');
                            buttonCol.className = 'col-auto align-self-center';
                            buttonCol.innerHTML = `<button type="button" data-cumulativeBtn data-cumulativeId="${data.ID}" class="btn btn-sm btn-pill btn-success">Bildirimi Kapat</button>`;
                            row.appendChild(buttonCol);
                            listItem.className += " active";
                            listItem.style.borderLeftColor = "rgb(47, 179, 68)"
                        }else{
                            let buttonCol = document.createElement('div');
                            buttonCol.className = 'col-auto align-self-center';
                            buttonCol.innerHTML = `<button type="button" data-cumulativeBtn data-cumulativeId="${data.ID}" class="btn btn-sm btn-pill btn-danger">İmzalandı</button>`;
                            row.appendChild(buttonCol);
                            listItem.className += " active";
                            listItem.style.borderLeftColor = "rgb(214 57 57)"
                        }
                        listItem.appendChild(row);
                        cumulativeList.appendChild(listItem);

                    })
                }else{
                    $('#cumulativeEmptyText').removeClass('d-none');
                }
            });
            $(document).on('click', 'button[data-cumulativeBtn]', function(event) {
                let clickedButton = $(this)
                let cumulativeId = clickedButton.attr("data-cumulativeId")
                let listDiv = clickedButton.closest('.list-group-item')
                $.ajax({
                    type:"POST",
                    url: "/post-kumulatif-bildirim",
                    data: {id : cumulativeId}
                }).done(function (res) {
                    if (res.isSuccess){
                        $('#success-modal-message').text("Kümülatif Başarılı Bir Şekilde Güncellendi.")
                        $('#success-modal').modal('show');
                        listDiv.remove()
                    }else {
                        $('#error-modal-message').text(res.message)
                        $('#error-modal').modal('show');
                    }
                })
            });
        </script>
    }
}