<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>İzin Takip CRM</title>
    <!-- CSS files -->
    <link href="/dist/css/tabler.min.css?1684106062" rel="stylesheet" />
    <link href="/dist/css/tabler-flags.min.css?1684106062" rel="stylesheet" />
    <link href="/dist/css/tabler-payments.min.css?1684106062" rel="stylesheet" />
    <link href="/dist/css/tabler-vendors.min.css?1684106062" rel="stylesheet" />
    <link href="/dist/css/demo.min.css?1684106062" rel="stylesheet" />
    
    
    <link href="/css/site.css" rel="stylesheet" />
    <link href="/css/flatpicker.css" rel="stylesheet" />
    @await RenderSectionAsync("Links", required: false)
</head>
<body>

    <div class="page">
        @await Html.PartialAsync("/Views/AdminLayoutPartials/Sidebar.cshtml")
        @await Html.PartialAsync("/Views/AdminLayoutPartials/Navbar.cshtml")

        <div class="page-wrapper">
            @RenderBody()
        </div>
        <!--Error Modal-->
        <div class="modal modal-blur fade" id="error-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="modal-status bg-danger"></div>
                    <div class="modal-body text-center py-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10.24 3.957l-8.422 14.06a1.989 1.989 0 0 0 1.7 2.983h16.845a1.989 1.989 0 0 0 1.7 -2.983l-8.423 -14.06a1.989 1.989 0 0 0 -3.4 0z"/><path d="M12 9v4"/><path d="M12 17h.01"/>
                        </svg>
                        <h3>Uyarı?</h3>
                        <div id="error-modal-message" class="text-muted">
                            
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="w-100">
                            <div class="row">
                                <div class="col">
                                    <a id="error-modal-button" href="#" class="btn btn-danger w-100" data-bs-dismiss="modal">
                                        Anladım
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Error Modal-->
        <!--Success Modal-->
        <div class="modal modal-blur fade" id="success-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="modal-status bg-success"></div>
                    <div class="modal-body text-center py-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-green icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path><path d="M9 12l2 2l4 -4"></path></svg>
                        <h3>Başarılı</h3>
                        <div id="success-modal-message" class="text-muted">
                            
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="w-100">
                            <div class="row">
                                <div class="col">
                                    <a id="success-modal-button" href="#" class="btn btn-success w-100" data-bs-dismiss="modal">
                                        Anladım
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Success Modal-->
    </div>

    <!-- Libs JS -->
    <script src="/dist/libs/apexcharts/dist/apexcharts.min.js?1684106062" defer></script>
    <script src="/dist/libs/jsvectormap/dist/js/jsvectormap.min.js?1684106062" defer></script>
    <script src="/dist/libs/jsvectormap/dist/maps/world.js?1684106062" defer></script>
    <script src="/dist/libs/jsvectormap/dist/maps/world-merc.js?1684106062" defer></script>

    <!-- Tabler Core -->
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/dist/js/demo-theme.min.js?1684106062"></script>
    <script src="/dist/js/tabler.min.js?1684106062"></script>

    <script src="/js/tom-select.js"></script>
    <script src="/dist/js/demo.min.js?1684106062"></script>
    
    <script src="/js/plugin/flatpicker.js"></script>
    <script src="js/custom/base/base.js"></script>
   
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>