<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>İzin Takip CRM</title>
    <!-- CSS files -->
    <link href="/dist/css/tabler.min.css?1684106062" rel="stylesheet" />
    <link href="/dist/css/tabler-flags.min.css?1684106062" rel="stylesheet" />
    <link href="/dist/css/tabler-payments.min.css?1684106062" rel="stylesheet" />
    <link href="/dist/css/tabler-vendors.min.css?1684106062" rel="stylesheet" />
    <link href="/dist/css/demo.min.css?1684106062" rel="stylesheet" />
    
    
    <link href="/css/site.css" rel="stylesheet" />
    <link href="/css/flatpicker.css" rel="stylesheet" />
    @await RenderSectionAsync("Links", required: false)
</head>
<body>
    
<div class="page">
    @await Html.PartialAsync("/Views/AdminLayoutPartials/Sidebar.cshtml")
    @* @await Html.PartialAsync("/Views/AdminLayoutPartials/Navbar.cshtml") *@
        
    <div class="page-wrapper">
        @RenderBody()
    </div>
</div>

    <!-- Libs JS -->
    <script src="/dist/libs/apexcharts/dist/apexcharts.min.js?1684106062" defer></script>
    <script src="/dist/libs/jsvectormap/dist/js/jsvectormap.min.js?1684106062" defer></script>
    <script src="/dist/libs/jsvectormap/dist/maps/world.js?1684106062" defer></script>
    <script src="/dist/libs/jsvectormap/dist/maps/world-merc.js?1684106062" defer></script>
    
    <!-- Tabler Core -->
    <script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/dist/js/demo-theme.min.js?1684106062"></script>
<script src="/dist/js/tabler.min.js?1684106062" ></script>

<script src="/js/tom-select.js"></script>
    <script src="/dist/js/demo.min.js?1684106062"></script>
    <script src="/js/custom/base/base.js"></script>
    <script src="/js/plugin/flatpicker.js"></script>
    @await Component.InvokeAsync("NToastNotify")
<script defer>
//Selectleri Tom Select Yap
document.querySelectorAll('.selectListTom').forEach((el)=>{
	let settings = {
        plugins: ['dropdown_input']

	};
 	new TomSelect(el,settings);
     
});

  // Tüm date inputlarını seçin
  let dateInputs = document.querySelectorAll('input[type="date"]');
  //Flatpickr ile bootstrap cakısma onleyici yıl secimi yapılamıyordu
  document.addEventListener('focusin', (e) => {
    if (e.target.closest(".flatpickr-calendar") !== null) {
     e.stopImmediatePropagation();
   }
  });
  // Her bir date input için Flatpicker'ı başlatın
  dateInputs.forEach(function (input) {
                 flatpickr(input,{                 
                     altInput: true,
                    altFormat: "d F Y",
                     dateFormat: "Y-m-d",
                     locale: {
                         weekdays: {
                           longhand: ['Pazar', 'Pazartesi','Salı','Çarşamba','Perşembe', 'Cuma','Cumartesi'],
                           shorthand: ['Paz', 'Pzt', 'Sal', 'Çar', 'Per', 'Cum', 'Cmt']
                         },
                         months: {
                           longhand: ['Ocak','Şubat','Mart','Nisan','Mayıs','Haziran','Temmuz','Ağustos', 'Eylül','Ekim','Kasım','Aralık'],
                           shorthand: ['Oca','Şub','Mar','Nis','May','Haz','Tem','Ağu','Eyl','Eki','Kas','Ara']
                         },
                         today: 'Bugün',
                         clear: 'Temizle'
                       }
                 });
             });
 
        
</script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>