
@{
    ViewBag.Title = "Detaylı Filtre";
    Layout = "_Layout";
}
@section Links
{

 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css"> 
}
<style>
    /* Sayfalama kontrolleri */
    .dataTables_wrapper .dataTables_paginate .paginate_button {
        display: inline-block;
        padding: 0.5em 1em;
        margin: 0 0.1em;
        cursor: pointer;
        color: #333;
        background-color: #fff;
        border: 1px solid #ddd;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        background-color: #ddd;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button.current {
        background-color: #206bc4;
        color: #fff;
        border: 1px solid #206bc4;
    }
</style>
<div id="mainDiv">
    <div class="card m-5 mb-0">
        <div class="accordion" id="accordion-example">
            <div class="accordion-item bg-azure">
                <h1 class="accordion-header">
                    <button class="accordion-button collapsed" style="color: white" type="button" data-bs-toggle="collapse" data-bs-target="#filterAccordion" aria-expanded="false">
                        Filtre Alanı
                    </button>
                </h1>
                <div id="filterAccordion" class="accordion-collapse collapse" data-bs-parent="#accordion-example">
                    <div class="accordion-body p bg-white">
                        <div id="alert_section" class="row mb-2">
                           

                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <label class="form-label">Filtre Uygulamak İstediğiniz Tabloyu Seçiniz</label>
                                <select class="selectListTom" placeholder="Tablo Seçiniz" name="entityName" id="entitySelect">
                                    <option value=""></option>
                                    <option value="Personal">Personeller</option>
                                    <option value="Branch">Şubeler</option>
                                    <option value="Position">Ünvanlar</option>
                                    <option value="Offday">İzinler</option>
                                </select>
                            </div>
                            <div class="col align-content-end text-end">
                                <button id="sendFiltersBtn" class="btn btn-green d-none">Sonucu Getir</button>
                            </div>
                        </div>
                        <div id="filtersRowSection">

                        </div>
                        <div class="row mt-3">
                            <div class="col align-content-end">
                                <button id="addFilterBtn" class="btn btn-purple d-none">Filtre Ekle</button>
                            </div>
                        </div>
                        <div class="row mb-5 mt-3">
                            <div class="col">
                                <div id="propertiesViewSelectDiv">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div id="results">

    </div>
</div>
<div id="page-loader" class="page page-center d-none">
    <div  class="container container-slim py-4 ">
        <div class="text-center">
            <div class="mb-3">
                <a href="." class="navbar-brand navbar-brand-autodark"><img src="/logonew.png" height="108" alt=""></a>
            </div>
            <div class="text-secondary mb-3">Lütfen Bekleyiniz!</div>
            <div class="progress progress-sm">
                <div class="progress-bar progress-bar-indeterminate"></div>
            </div>
        </div>
    </div>
</div>
@* <script src="/js/custom/detailedFilter/main.js"></script> *@
<script src="/js/custom/detailedFilter/test.js"></script>

@section Scripts
{
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js"></script>

 <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script> 
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script> 
 <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script> 
}
