

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="card container-xl mt-3 table-responsive">
    <table class="table table-nowrap">
        <thead>
                
        <tr>
            <th>deneme1</th>
            <th>deneme2</th>
            <th>deneme3</th>
            <th>deneme4</th>
            <th>deneme5</th>
            <th>deneme6</th>
            <th>deneme7</th>
            <th>deneme8</th>
             
        </tr>
        </thead>
    </table>
</div>
<script src="/js/custom/detailedFilter/main.js"></script>
