@{
    ViewBag.Title = "Günlük Otomasyon Takip";
    Layout = "_Layout";
}
<style>
    pre {
        white-space: pre-wrap; /* Metni düzgün bir şekilde satırlara böl */
        word-wrap: break-word; /* Kelimeleri gerektiğinde böler */
        max-width: 100%; /* Metnin en fazla alanın genişliğine kadar genişlemesini sağlar */
    }

</style>
<!--Heading Area-->
<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                    IYAŞ PANEL
                </div>
                <h2 class="page-title">
                    Günlük Loglar
                </h2>
            </div>
        </div>
    </div>
</div>
<!--Heading Area-->

<div class="card container-xl mt-3 p-3">
    <div class="row mt-3">
        <div class="col-6">
            <h4>Yıllık İzin Logları</h4>
            <pre id="yillikIzinLog"></pre>
        </div>
        <div class="col-6">
            <h4>Gıda Yardımı Logları</h4>
            <pre id="gidaYardimiLog"></pre>
        </div>
        
    </div>
</div>
<script src="/js/custom/dailyLog/dailyLog.js"></script>