@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.TagHelpers
<aside class="navbar navbar-vertical navbar-expand-lg" data-bs-theme="dark">
<div class="container-fluid">
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar-menu" aria-controls="sidebar-menu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<h1 style="padding-bottom: 0;" class="navbar-brand">
    <a href=".">
        <img src="/sidebarLogo.png" style="height: 6rem;" alt="Tabler" class="navbar-brand-image">
    </a>
</h1>
<div class="collapse navbar-collapse" id="sidebar-menu">
<ul class="navbar-nav pt-lg-3">
<li class="nav-item" data-sidebarListItem>
    <a class="nav-link" asp-controller="Home" asp-action="Index">
        <span class="nav-link-icon d-md-none d-lg-inline-block">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M5 12l-2 0l9 -9l9 9l-2 0"/>
                <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"/>
                <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"/>
            </svg>
        </span>
        <span class="nav-link-title">
            Ana Sayfa
        </span>
    </a>
</li>
@if (User.FindFirst(ClaimTypes.Name).Value == "samicangulcan")
{
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="true" role="button" aria-expanded="true">
        <span class="nav-link-icon d-md-none d-lg-inline-block">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
            </svg>
        </span>
        <span class="nav-link-title">
            Personeller
        </span>
    </a>
    <div class="dropdown-menu ">
        <div class="dropdown-menu-columns">
            <div class="dropdown-menu-column">
                <li class="nav-item" data-sidebarListItem>
                    <a class="dropdown-item" href="/personeller">
                        <span class="nav-link-icon d-md-none d-lg-inline-block">

                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-check" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                                <path d="M6 21v-2a4 4 0 0 1 4 -4h4"></path>
                                <path d="M15 19l2 2l4 -4"></path>
                            </svg>
                        </span>
                        <span class="nav-link-title">Aktif Personeller</span>
                    </a>
                </li>
                <li class="nav-item" data-sidebarListItem>
                    <a class="dropdown-item" href="/cikarilan-personeller">
                        <span class="nav-link-icon d-md-none d-lg-inline-block">

                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-minus" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                                <path d="M6 21v-2a4 4 0 0 1 4 -4h4c.348 0 .686 .045 1.009 .128"></path>
                                <path d="M16 19h6"></path>
                            </svg>
                        </span>
                        <span class="nav-link-title">Çıkarılan Personeller</span>
                    </a>
                </li>


            </div>
        </div>
    </div>
    <li class="nav-item" data-sidebarListItem>
        <a class="nav-link" href="/subeler">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-building-bank" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M3 21l18 0"></path>
                    <path d="M3 10l18 0"></path>
                    <path d="M5 6l7 -3l7 3"></path>
                    <path d="M4 10l0 11"></path>
                    <path d="M20 10l0 11"></path>
                    <path d="M8 14l0 3"></path>
                    <path d="M12 14l0 3"></path>
                    <path d="M16 14l0 3"></path>
                </svg>
            </span>
            <span class="nav-link-title">
                Şubeler
            </span>
        </a>
    </li>

    <li class="nav-item" data-sidebarListItem>
        <a class="nav-link" href="/unvanlar">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-award" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 9m-6 0a6 6 0 1 0 12 0a6 6 0 1 0 -12 0"></path>
                    <path d="M12 15l3.4 5.89l1.598 -3.233l3.598 .232l-3.4 -5.889"></path>
                    <path d="M6.802 12l-3.4 5.89l3.598 -.233l1.598 3.232l3.4 -5.889"></path>
                </svg>

            </span>
            <span class="nav-link-title">
                Ünvanlar
            </span>
        </a>
    </li>
}

<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="true" role="button" aria-expanded="true">
    <span class="nav-link-icon d-md-none d-lg-inline-block">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-address-book" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M20 6v12a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2z"></path>
            <path d="M10 16h6"></path>
            <path d="M13 11m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
            <path d="M4 8h3"></path>
            <path d="M4 12h3"></path>
            <path d="M4 16h3"></path>
        </svg>
    </span>
    <span class="nav-link-title">
        İzinler
    </span>
</a>
<div class="dropdown-menu ">
    <div class="dropdown-menu-columns">
        <div class="dropdown-menu-column">
            <li class="nav-item dropdown" data-sidebarListItem>
                <a class="dropdown-item" href="/bekleyen-izinler">
                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clock-pause" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M20.942 13.018a9 9 0 1 0 -7.909 7.922"/>
                            <path d="M12 7v5l2 2"/>
                            <path d="M17 17v5"/>
                            <path d="M21 17v5"/>
                        </svg>
                    </span>
                    <span class="nav-link-title">Bekleyen İzinler</span>
                </a>
            </li>
            <li class="nav-item dropdown" data-sidebarListItem>
                <a class="dropdown-item" href="/onaylanan-izinler">
                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clock-check" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M20.942 13.021a9 9 0 1 0 -9.407 7.967"/>
                            <path d="M12 7v5l3 3"/>
                            <path d="M15 19l2 2l4 -4"/>
                        </svg>
                    </span>
                    <span class="nav-link-title">Onaylanan İzinler</span>
                </a>
            </li>
            <li class="nav-item dropdown" data-sidebarListItem>
                <a class="dropdown-item" href="/reddedilen-izinler">
                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clock-cancel" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M20.997 12.25a9 9 0 1 0 -8.718 8.745"/>
                            <path d="M19 19m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"/>
                            <path d="M17 21l4 -4"/>
                            <path d="M12 7v5l2 2"/>
                        </svg>
                    </span>
                    <span class="nav-link-title">Reddedilen İzinler</span>
                </a>
            </li>


        </div>
    </div>
</div>
@if (User.FindFirst(ClaimTypes.Name).Value == "samicangulcan")
{
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="true" role="button" aria-expanded="true">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M4 7l16 0"></path>
                    <path d="M10 11l0 6"></path>
                    <path d="M14 11l0 6"></path>
                    <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                    <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                </svg>
            </span>
            <span class="nav-link-title">
                Geri Dönüşüm Kutusu
            </span>
        </a>
        <div class="dropdown-menu ">
            <div class="dropdown-menu-columns">
                <div class="dropdown-menu-column">
                    <li class="nav-item dropdown" data-sidebarListItem>
                        <a class="dropdown-item" href="/silinen-personeller">
                            <span class="nav-link-icon d-md-none d-lg-inline-block">

                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-x" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                                    <path d="M6 21v-2a4 4 0 0 1 4 -4h3.5"></path>
                                    <path d="M22 22l-5 -5"></path>
                                    <path d="M17 22l5 -5"></path>
                                </svg>
                            </span>
                            <span class="nav-link-title">Silinen Personeller</span>
                        </a></li>
                    <li class="nav-item dropdown" data-sidebarListItem>
                        <a class="dropdown-item" href="/silinen-subeler">
                            <span class="nav-link-icon d-md-none d-lg-inline-block">

                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home-x" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M19 13.4v-1.4h2l-9 -9l-9 9h2v7a2 2 0 0 0 2 2h5.5"></path>
                                    <path d="M9 21v-6a2 2 0 0 1 2 -2h2c.402 0 .777 .119 1.091 .323"></path>
                                    <path d="M21.5 21.5l-5 -5"></path>
                                    <path d="M16.5 21.5l5 -5"></path>
                                </svg>
                            </span>
                            <span class="nav-link-title">Silinen Şubeler</span>
                        </a></li>
                    <li class="nav-item dropdown" data-sidebarListItem>
                        <a class="dropdown-item" href="/silinen-unvanlar">
                            <span class="nav-link-icon d-md-none d-lg-inline-block">

                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-award-off" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M16.72 12.704a6 6 0 0 0 -8.433 -8.418m-1.755 2.24a6 6 0 0 0 7.936 7.944"></path>
                                    <path d="M12 15l3.4 5.89l1.598 -3.233l.707 .046m1.108 -2.902l-1.617 -2.8"></path>
                                    <path d="M6.802 12l-3.4 5.89l3.598 -.233l1.598 3.232l3.4 -5.889"></path>
                                    <path d="M3 3l18 18"></path>
                                </svg>
                            </span>
                            <span class="nav-link-title">Silinen Ünvanlar</span>
                        </a></li>
                    <li class="nav-item dropdown" data-sidebarListItem>
                        <a class="dropdown-item" href="/silinen-izinler">
                            <span class="nav-link-icon d-md-none d-lg-inline-block">

                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-address-book-off" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M8 4h10a2 2 0 0 1 2 2v10m-.57 3.399c-.363 .37 -.87 .601 -1.43 .601h-10a2 2 0 0 1 -2 -2v-12"></path>
                                    <path d="M10 16h6"></path>
                                    <path d="M11 11a2 2 0 0 0 2 2m2 -2a2 2 0 0 0 -2 -2"></path>
                                    <path d="M4 8h3"></path>
                                    <path d="M4 12h3"></path>
                                    <path d="M4 16h3"></path>
                                    <path d="M3 3l18 18"></path>
                                </svg>
                            </span>
                            <span class="nav-link-title">İptal Edilen İzinler</span>
                        </a></li>


                </div>
            </div>
        </div>
    <li class="nav-item " data-sidebarListItem>
        <a class="nav-link" href="/toplu-islemler">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-building-bank" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M3 21l18 0"></path>
                    <path d="M3 10l18 0"></path>
                    <path d="M5 6l7 -3l7 3"></path>
                    <path d="M4 10l0 11"></path>
                    <path d="M20 10l0 11"></path>
                    <path d="M8 14l0 3"></path>
                    <path d="M12 14l0 3"></path>
                    <path d="M16 14l0 3"></path>
                </svg>
            </span>
            <span class="nav-link-title">
                Toplu İşlemler
            </span>
        </a>
    </li>
    <li class="nav-item " data-sidebarListItem>
        <a class="nav-link" href="/qr-islemleri">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-qrcode" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M4 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"/>
                    <path d="M7 17l0 .01"/>
                    <path d="M14 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"/>
                    <path d="M7 7l0 .01"/>
                    <path d="M4 14m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"/>
                    <path d="M17 7l0 .01"/>
                    <path d="M14 14l3 0"/>
                    <path d="M20 14l0 .01"/>
                    <path d="M14 14l0 3"/>
                    <path d="M14 20l3 0"/>
                    <path d="M17 17l3 0"/>
                    <path d="M20 17l0 3"/>
                </svg>
            </span>
            <span class="nav-link-title">
                QR İşlemleri
            </span>
        </a>
    </li>

    <li class="nav-item " data-sidebarListItem>
        <a class="nav-link" href="/kullanici-listesi">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-lock-cog" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 21h-5a2 2 0 0 1 -2 -2v-6a2 2 0 0 1 2 -2h10c.564 0 1.074 .234 1.437 .61"/><path d="M11 16a1 1 0 1 0 2 0a1 1 0 0 0 -2 0"/><path d="M8 11v-4a4 4 0 1 1 8 0v4"/><path d="M19.001 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"/><path d="M19.001 15.5v1.5"/><path d="M19.001 21v1.5"/><path d="M22.032 17.25l-1.299 .75"/><path d="M17.27 20l-1.3 .75"/><path d="M15.97 17.25l1.3 .75"/><path d="M20.733 20l1.3 .75"/>
                </svg>
            </span>
            <span class="nav-link-title">
                Kullanıcı İşlemleri
            </span>
        </a>
    </li>
    <li class="nav-item " data-sidebarListItem>
        <a class="nav-link" href="/gunluk-takip">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-terminal" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 7l5 5l-5 5"/><path d="M12 19l7 0"/>
                </svg>
            </span>
            <span class="nav-link-title">
                Günlük Otomasyon Takip
            </span>
        </a>
    </li>
}
</ul>
</div>
</div>
</aside>