@model AddPersonalDto
@{
    int pageNumber = System.Convert.ToInt32(Context.Request.Query["pageNumber"]);
    if (pageNumber == 0)
    {
        pageNumber = 1;
    }
}

<!--AddModal-->
<form method="post" asp-controller="Personal" asp-action="AddPersonal">
    <input type="hidden" name="pageNumber" value="@pageNumber">
    <div class="modal fade" id="addModal" tabindex="-1" style=" padding-left: 0;" aria-hidden="true" role="dialog">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Personel Ekle</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col mb-3">
                            <label for="nameBasic" class="form-label">Adı Soyadı *</label>
                            <input type="text" asp-for="NameSurname" id="nameBasic" class="form-control" placeholder="Personal Ad-Soyadını Giriniz!">
                            
                        </div>
                        <div class="col mb-3">
                            <label for="nameBasic" class="form-label">Doğum Tarihi *</label>
                            <input type="date" asp-for="BirthDate" id="nameBasic" class="form-control" placeholder="Personal Doğum Tarihi!">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <label for="nameBasic" class="form-label">TC Kimlik No *</label>
                            <input type="text" asp-for="IdentificationNumber" id="nameBasic" class="form-control" placeholder="Personal Tc Kimlik Giriniz!">
                        </div>
                        <div class="col mb-3">
                            <label for="nameBasic" class="form-label">Sicil No *</label>
                            <input type="text" asp-for="RegistirationNumber" id="nameBasic" class="form-control" placeholder="Personal Sicil No Giriniz!">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <label for="nameBasic" class="form-label">İşe Başlama Tarihi *</label>
                            <input type="date" asp-for="StartJobDate" id="nameBasic" class="form-control" placeholder="Personal İşe başlangıç Tarihi!">
                        </div>
                        <div class="col mb-3">
                            <label for="nameBasic" class="form-label">Telefon No </label>
                            <div class="input-group input-group-merge">                               
                                <span id="basic-icon-default-phone2" class="input-group-text"><i class="bx bx-phone"></i></span>
                                <input type="tel" asp-for=Phonenumber id="basic-icon-default-phone" class="form-control phone-mask" placeholder="0XXX-XXX-XX-XX" aria-label="658 799 8941" aria-describedby="basic-icon-default-phone2">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <label for="nameBasic" class="form-label">Ünvan / Görev *</label>
                            <select class="form-select"  asp-items="@(new SelectList(ViewBag.Positions,"ID","Name"))" asp-for="Position_Id"></select>
                        </div>
                        <div class="col mb-3">
                            <label for="nameBasic" class="form-label">Şube *</label>
                            <select class="form-select" asp-items="@(new SelectList(ViewBag.Branches,"ID","Name"))" asp-for="Branch_Id"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-check form-switch mb-3 col">
                            <input class="form-check-input" asp-for="RetiredOrOld" type="checkbox" id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Personel Emekli Mi ?</label>
                        </div>
                        <div class="col mb-3">
                            <label for="nameBasic" class="form-label">Yıllık İzin *</label>
                            <input type="number" asp-for="TotalYearLeave" id="nameBasic" class="form-control" placeholder="Personal Yıllık İzin Giriniz!">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                        Kapat
                    </button>
                    <button type="submit" class="btn btn-primary">Personel Ekle</button>
                </div>
            </div>
        </div>
    </div>
</form>




