@using Core.Enums
@model List<ReadBranchDto>
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Tüm Şubeler</h2>
<div class="card">
    <div class="row">
        <div class="col-8">
            <h5 class="card-header">
                Tüm Şubeler
            </h5></div>
        <div class="col-4 d-inline-flex justify-content-end ">
            <button type="button" class="btn btn-primary m-3" data-bs-toggle="modal" data-bs-target="#addModal">Şube Ekle</button>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Şube Adı</th>
            <th>Aktif Mi?</th>
            <th>Oluşturulma Tarihi</th>
            <th>Güncellenme Tarihi</th>
            <th>Düzenle</th>
            <th>Sil</th>
            

        </tr>
        </thead>
        <tbody class="table-border-bottom-0">
        @foreach (var data in Model)
        {
            <tr>
                <td>@data.Name</td>
                <td>
                    @{
                        if (data.Status == EntityStatusEnum.Online)
                        {
                            <span class="badge bg-success">Aktif</span>
                        }
                        else
                        {
                            <span class="badge bg-secondary">Pasif</span>
                        }
                    }
                </td>
                <td>
                    @data.CreatedAt.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @data.ModifiedAt.ToString("dd/MM/yyyy")
                </td>
                <td>
                    <a class="btn btn-warning text-white">Düzenle</a>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#archiveBranch" data-item-id="@data.ID">Sil</button>
                </td>
            </tr>

        }
        </tbody>
    </table>
</div>

@await Component.InvokeAsync("AddBranch" , new WriteBranchDto())
<!--ArchiveModal-->
<form method="post" asp-controller="Branch" asp-action="ArchiveBranch">
    <div class="modal fade" id="archiveBranch" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Şube Sil</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
    
                    <div class="alert alert-danger" role="alert">
                        İlgili Şube Silinecektir!!!
                        <br />
                        Emin Misiniz?
                    </div>
                    <input type="hidden" id="itemIdInput" name="id">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal Et</button>
                    <button type="submit" class="btn btn-danger">Sil</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
        // Sil butonuna tıklanınca
        document.querySelectorAll(".btn-danger").forEach(function (button) {
            button.addEventListener("click", function () {
                var itemId = button.getAttribute("data-item-id"); // data-item-id değerini alın
                document.getElementById("itemIdInput").value = itemId; // inputa taşıyın
            });
        });


    </script>
