@using Core.Enums
@model IResultWithDataDto<BranchDto>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    
}

<h2>title</h2>
@if (!Model.IsSuccess)
{
    <div class="text-center">
        <h1 class="display-4">Üzgünüz</h1>
        <p>@Model.Message</p>
        <p>@Model.Err</p>
    </div>
}
else
{
    <form method="post" asp-controller="Branch" asp-action="UpdateBranch">


        <div class="card">
            <table class="table">
                <thead>
                <tr>
                    <th>Şube Adı</th>
                    <th>Aktif Mi?</th>
                    <th>Oluşturulma Tarihi</th>
                    <th>Güncellenme Tarihi</th>
                    <th>Düzenle</th>
                </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                <tr>
                    <td>
                        <input class="form-control" asp-for="Data.Name"/>
                            <input type="hidden" asp-for="Data.ID" />
                    </td>
                    <td>
                        @{
                            if (Model.Data.Status == EntityStatusEnum.Online)
                            {
                                <span class="badge bg-success">Aktif</span>
                            }
                            else
                            {
                                <span class="badge bg-secondary">Pasif</span>
                            }
                            
                        }
                    </td>
                    <td>
                        @Model.Data.CreatedAt.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @Model.Data.ModifiedAt.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        <button type="submit" class="btn btn-warning btn-sm text-white">Düzenle</button>
                    </td>

                </tr>
                </tbody>

            </table>
        </div>
    </form>
}
